<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- JOP Perspective -->
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            id="com.jopdesign.ui.jopPerspective"
            name="JOP"
            class="com.jopdesign.ui.perspectives.JopPerspectiveFactory"
            icon="icons/jop-16.png">
        </perspective>
    </extension>

    <!-- Toggle JOP Nature command -->
    <extension point="org.eclipse.ui.commands">
        <command
            id="com.jopdesign.ui.toggleNature"
            name="Toggle JOP Nature"
            description="Add or remove the JOP nature from a Java project">
        </command>
        <command
            id="com.jopdesign.ui.synthesizeFpga"
            name="Synthesize FPGA"
            description="Run SpinalHDL generation and FPGA synthesis for the selected JOP project">
        </command>
        <command
            id="com.jopdesign.ui.programFpga"
            name="Program FPGA"
            description="Program the FPGA with the synthesized bitstream via JTAG">
        </command>
        <command
            id="com.jopdesign.ui.downloadApp"
            name="Download Application"
            description="Download the .jop application to the board via serial port">
        </command>
        <command
            id="com.jopdesign.ui.startMonitor"
            name="Start Monitor"
            description="Open a UART monitor to view serial output from the JOP board">
        </command>
        <command
            id="com.jopdesign.ui.runJopSim"
            name="Run JopSim"
            description="Run the JOP Java-level simulator on the built .jop application">
        </command>
        <command
            id="com.jopdesign.ui.runRtlSim"
            name="Run RTL Simulation"
            description="Run a SpinalHDL/Verilator RTL simulation of the JOP processor">
        </command>
        <command
            id="com.jopdesign.ui.generateDrivers"
            name="Generate IO Drivers"
            description="Generate Java driver stubs and pin constraints for selected IO peripherals">
        </command>
    </extension>

    <!-- Handler for toggle nature command -->
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="com.jopdesign.ui.actions.ToggleJopNatureHandler"
            commandId="com.jopdesign.ui.toggleNature">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.SynthesizeFpgaHandler"
            commandId="com.jopdesign.ui.synthesizeFpga">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.ProgramFpgaHandler"
            commandId="com.jopdesign.ui.programFpga">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.DownloadAppHandler"
            commandId="com.jopdesign.ui.downloadApp">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.StartMonitorHandler"
            commandId="com.jopdesign.ui.startMonitor">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.RunJopSimHandler"
            commandId="com.jopdesign.ui.runJopSim">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.RunRtlSimHandler"
            commandId="com.jopdesign.ui.runRtlSim">
        </handler>
        <handler
            class="com.jopdesign.ui.actions.GenerateDriversHandler"
            commandId="com.jopdesign.ui.generateDrivers">
        </handler>
    </extension>

    <!-- Context menu contribution for toggle nature -->
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
            <command
                commandId="com.jopdesign.ui.toggleNature"
                label="JOP Nature"
                style="push">
                <visibleWhen checkEnabled="false">
                    <with variable="selection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IProject">
                                <test property="org.eclipse.core.resources.projectNature"
                                      value="org.eclipse.jdt.core.javanature"/>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <!-- JOP submenu on project context menu -->
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                id="com.jopdesign.ui.jopMenu"
                label="JOP">
                <visibleWhen checkEnabled="false">
                    <with variable="selection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IProject">
                                <test property="org.eclipse.core.resources.projectNature"
                                      value="com.jopdesign.core.jopNature"/>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
                <command
                    commandId="com.jopdesign.ui.synthesizeFpga"
                    label="Synthesize FPGA"
                    style="push"/>
                <command
                    commandId="com.jopdesign.ui.programFpga"
                    label="Program FPGA"
                    style="push"/>
                <separator name="deploySeparator" visible="true"/>
                <command
                    commandId="com.jopdesign.ui.downloadApp"
                    label="Download Application"
                    style="push"/>
                <command
                    commandId="com.jopdesign.ui.startMonitor"
                    label="Start Monitor"
                    style="push"/>
                <separator name="simSeparator" visible="true"/>
                <command
                    commandId="com.jopdesign.ui.runJopSim"
                    label="Run JopSim"
                    style="push"/>
                <command
                    commandId="com.jopdesign.ui.runRtlSim"
                    label="Run RTL Simulation"
                    style="push"/>
                <separator name="ioSeparator" visible="true"/>
                <command
                    commandId="com.jopdesign.ui.generateDrivers"
                    label="Generate IO Drivers"
                    style="push"/>
            </menu>
        </menuContribution>
    </extension>

    <!-- JOP Project Properties page -->
    <extension point="org.eclipse.ui.propertyPages">
        <page
            id="com.jopdesign.ui.properties.jopPropertyPage"
            name="JOP"
            class="com.jopdesign.ui.properties.JopPropertyPage">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature"
                          value="com.jopdesign.core.jopNature"/>
                </adapt>
            </enabledWhen>
        </page>
    </extension>

    <!-- JOP Board Configuration sub-page (under JOP project properties) -->
    <extension point="org.eclipse.ui.propertyPages">
        <page
            id="com.jopdesign.ui.properties.jopBoardPropertyPage"
            name="Board Configuration"
            class="com.jopdesign.ui.properties.JopBoardPropertyPage"
            category="com.jopdesign.ui.properties.jopPropertyPage">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature"
                          value="com.jopdesign.core.jopNature"/>
                </adapt>
            </enabledWhen>
        </page>
    </extension>

    <!-- Preference page for workspace-level JOP settings -->
    <extension point="org.eclipse.ui.preferencePages">
        <page
            id="com.jopdesign.ui.preferences.jopPreferencePage"
            name="JOP"
            class="com.jopdesign.ui.properties.JopPreferencePage">
        </page>
    </extension>

    <!-- Content type for .jop files (text format, // line comments) -->
    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type
            id="com.jopdesign.ui.jopContent"
            name="JOP Application Image"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="jop">
        </content-type>
    </extension>

    <!-- Associate .jop files with the built-in text editor -->
    <extension point="org.eclipse.ui.editors">
        <editor
            id="com.jopdesign.ui.editors.jopTextEditor"
            name="JOP File Viewer"
            icon="icons/jop-16.png"
            extensions="jop"
            class="com.jopdesign.ui.editors.JopTextEditor"
            default="true">
        </editor>
    </extension>

    <!-- Microcode Debug launch configuration type -->
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
            id="com.jopdesign.ui.launch.microcodeDebug"
            name="JOP Microcode Debug"
            delegate="com.jopdesign.ui.launch.MicrocodeLaunchDelegate"
            modes="debug"
            public="true">
        </launchConfigurationType>
    </extension>

    <!-- Source locator for microcode debug -->
    <extension point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator
            id="com.jopdesign.ui.launch.microcodeSourceLocator"
            name="JOP Microcode Source Locator"
            class="com.jopdesign.ui.launch.MicrocodeSourceLocator">
        </sourceLocator>
    </extension>

    <!-- Launch configuration tab group -->
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            id="com.jopdesign.ui.launch.microcodeTabGroup"
            type="com.jopdesign.ui.launch.microcodeDebug"
            class="com.jopdesign.ui.launch.MicrocodeLaunchTabGroup">
        </launchConfigurationTabGroup>
    </extension>

    <!-- Launch configuration type image -->
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            id="com.jopdesign.ui.launch.microcodeDebugImage"
            configTypeID="com.jopdesign.ui.launch.microcodeDebug"
            icon="icons/jop-16.png">
        </launchConfigurationTypeImage>
    </extension>

    <!-- Debug model presentation for microcode -->
    <extension point="org.eclipse.debug.ui.debugModelPresentations">
        <debugModelPresentation
            id="com.jopdesign.microcode.debug"
            class="com.jopdesign.ui.launch.MicrocodeDebugModelPresentation">
        </debugModelPresentation>
    </extension>

    <!-- Debug As > JOP Microcode launch shortcut -->
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
            id="com.jopdesign.ui.launch.microcodeShortcut"
            label="JOP Microcode Debug"
            class="com.jopdesign.ui.launch.MicrocodeLaunchShortcut"
            modes="debug">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <or>
                                <adapt type="org.eclipse.core.resources.IFile">
                                    <test property="org.eclipse.core.resources.extension" value="asm"/>
                                </adapt>
                                <adapt type="org.eclipse.core.resources.IFile">
                                    <test property="org.eclipse.core.resources.extension" value="mic"/>
                                </adapt>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>

    <!-- ========== JOP Application (unified run/debug) ========== -->

    <!-- JOP Application launch configuration type -->
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
            id="com.jopdesign.ui.launch.jopApplication"
            name="JOP Application"
            delegate="com.jopdesign.ui.launch.JopLaunchDelegate"
            modes="run,debug"
            public="true">
        </launchConfigurationType>
    </extension>

    <!-- Source locator for JOP Application debug -->
    <extension point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator
            id="com.jopdesign.ui.launch.jopSourceLocator"
            name="JOP Source Locator"
            class="com.jopdesign.ui.launch.JopSourceLocator">
        </sourceLocator>
    </extension>

    <!-- Tab group for JOP Application -->
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            id="com.jopdesign.ui.launch.jopTabGroup"
            type="com.jopdesign.ui.launch.jopApplication"
            class="com.jopdesign.ui.launch.JopLaunchTabGroup">
        </launchConfigurationTabGroup>
    </extension>

    <!-- Launch configuration type image for JOP Application -->
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            id="com.jopdesign.ui.launch.jopApplicationImage"
            configTypeID="com.jopdesign.ui.launch.jopApplication"
            icon="icons/jop-16.png">
        </launchConfigurationTypeImage>
    </extension>

    <!-- Debug model presentation for unified JOP debug -->
    <extension point="org.eclipse.debug.ui.debugModelPresentations">
        <debugModelPresentation
            id="com.jopdesign.debug"
            class="com.jopdesign.ui.launch.JopDebugModelPresentation">
        </debugModelPresentation>
    </extension>

    <!-- Run/Debug As > JOP Application shortcut -->
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
            id="com.jopdesign.ui.launch.jopShortcut"
            label="JOP Application"
            class="com.jopdesign.ui.launch.JopLaunchShortcut"
            modes="run,debug">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <or>
                                <adapt type="org.eclipse.core.resources.IFile">
                                    <test property="org.eclipse.core.resources.extension" value="asm"/>
                                </adapt>
                                <adapt type="org.eclipse.core.resources.IFile">
                                    <test property="org.eclipse.core.resources.extension" value="mic"/>
                                </adapt>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>

    <!-- ========== JOP Debug Perspective and Views ========== -->

    <!-- JOP view category -->
    <extension point="org.eclipse.ui.views">
        <category
            id="com.jopdesign.ui.views"
            name="JOP">
        </category>
        <view
            id="com.jopdesign.ui.views.registersView"
            name="JOP Registers"
            class="com.jopdesign.ui.views.JopRegistersView"
            category="com.jopdesign.ui.views"
            icon="icons/jop-16.png">
        </view>
        <view
            id="com.jopdesign.ui.views.stackView"
            name="JOP Stack"
            class="com.jopdesign.ui.views.JopStackView"
            category="com.jopdesign.ui.views"
            icon="icons/jop-16.png">
        </view>
    </extension>

    <!-- JOP Debug Perspective -->
    <extension point="org.eclipse.ui.perspectives">
        <perspective
            id="com.jopdesign.ui.jopDebugPerspective"
            name="JOP Debug"
            class="com.jopdesign.ui.perspectives.JopDebugPerspectiveFactory"
            icon="icons/jop-16.png">
        </perspective>
    </extension>

</plugin>
