<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- Microcode Assembly Editor -->
    <extension point="org.eclipse.ui.editors">
        <editor id="com.jopdesign.microcode.editor"
                name="JOP Microcode Editor"
                extensions="asm,mic"
                icon="icons/microcode.png"
                class="com.jopdesign.microcode.editor.MicrocodeEditor"
                contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
                default="true">
        </editor>
    </extension>

    <!-- Content type for JOP microcode assembly -->
    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type id="com.jopdesign.microcode.contentType"
                      name="JOP Microcode Assembly"
                      base-type="org.eclipse.core.runtime.text"
                      file-extensions="asm,mic"
                      priority="normal">
        </content-type>
    </extension>

    <!-- Document setup participant for microcode partitioning -->
    <extension point="org.eclipse.core.filebuffers.documentSetup">
        <participant
            class="com.jopdesign.microcode.editor.MicrocodeDocumentSetupParticipant"
            contentTypeId="com.jopdesign.microcode.contentType">
        </participant>
    </extension>

    <!-- Breakpoint marker type for microcode files -->
    <extension id="microcodeBreakpoint" point="org.eclipse.core.resources.markers"
               name="Microcode Breakpoint Marker">
        <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
        <persistent value="true"/>
    </extension>

    <!-- Register breakpoint type with debug framework -->
    <extension point="org.eclipse.debug.core.breakpoints">
        <breakpoint
            id="com.jopdesign.microcode.microcodeLineBreakpoint"
            class="com.jopdesign.microcode.debug.MicrocodeLineBreakpoint"
            markerType="com.jopdesign.microcode.microcodeBreakpoint">
        </breakpoint>
    </extension>

    <!-- Toggle breakpoints adapter factory for microcode editor -->
    <extension point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
        <toggleTargetFactory
            id="com.jopdesign.microcode.toggleBreakpointFactory"
            class="com.jopdesign.microcode.debug.MicrocodeBreakpointAdapterFactory">
            <enablement>
                <with variable="part">
                    <instanceof value="com.jopdesign.microcode.editor.MicrocodeEditor"/>
                </with>
            </enablement>
        </toggleTargetFactory>
    </extension>

    <!-- Ruler context menu for breakpoint toggling -->
    <extension point="org.eclipse.ui.popupMenus">
        <viewerContribution
            id="com.jopdesign.microcode.rulerActions"
            targetID="#MicrocodeRulerContext">
            <action
                id="com.jopdesign.microcode.toggleBreakpointAction"
                label="Toggle Breakpoint"
                class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
                menubarPath="debug"/>
        </viewerContribution>
    </extension>

</plugin>
